# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\joaob\OneDrive\Ambiente de Trabalho\TODO\ESII\Trabalho1\GitResources\TP1_2020_2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
